@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
  position: absolute;
  bottom: -10px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: white !important;
  -webkit-font-smoothing: antialiased;
}

.slider-text {
  @apply text-white;
}

.slick-prev:before,
.slick-next:before {
  @apply !text-primary !text-3xl;
}

.slider-text h2 {
  @apply lg:text-5xl mb-2 md:text-4xl text-3xl   font-bold leading-normal text-shadow-xl;
}
.slider-text h3 {
  @apply lg:text-4xl mb-2 md:text-3xl text-2xl font-bold leading-normal text-shadow-lg;
}
.slider-text h4 {
  @apply lg:text-3xl mb-2 md:text-2xl text-xl   font-bold leading-normal text-shadow-lg;
}
.slider-text h5 {
  @apply lg:text-2xl mb-2 text-xl   font-bold leading-normal text-shadow-lg;
}
.slider-text h6 {
  @apply lg:text-xl mb-2 text-lg   font-bold leading-normal text-shadow-lg;
}

.milestone > div {
  @apply shadow-lg;
}

.slider-text p {
  @apply text-xl md:text-2xl leading-none m-0 my-5 text-shadow-xl;
}

.footer-text p {
  @apply text-sm text-gray-400 mb-4;
}

.richtext p {
  @apply mb-5 leading-normal;
}

.richtext ul {
  @apply mb-5 list-disc ml-5 space-y-2;
}

.richtext h2 {
  @apply text-3xl font-bold mb-3;
}
.richtext h4 {
  @apply text-xl font-bold mb-2;
}
.richtext h5 {
  @apply text-lg font-bold mb-1;
}

.richtext h6 {
  @apply text-base font-bold mb-1;
}

.richtext h3 {
  @apply text-2xl font-bold mb-2;
}

.richtext h1 {
  @apply my-3 text-4xl font-bold;
}

.richtext colgroup {
  @apply md:table-column-group flex;
}

.richtext tbody {
  @apply md:table-header-group flex flex-col;
}

.richtext tr {
  @apply md:table-row flex flex-col gap-4;
}

.richtext ol {
  @apply list-decimal list-outside pl-4;
}

.richtext td {
  @apply md:p-5 p-0;
}

/*

BROWSER SCROLLBAR KITS

*/

/* CHROME & SAFARI */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #0ec9c5;
}

*::-webkit-scrollbar-thumb:hover {
  background: #045857;
}

*::-webkit-scrollbar-thumb:active {
  background: #045857;
}

/* MOZILLA FIREFOX */
*::-moz-scrollbar {
  width: 8px;
}

*::-moz-scrollbar-track {
  background-color: transparent;
}

*::-moz-scrollbar-thumb {
  background: #0ec9c5;
}

*::-moz-scrollbar-thumb:hover {
  background: #045857;
}

*::-moz-scrollbar-thumb:active {
  background: #045857;
}

/* MICROSOFT INTERNET EXPLORER */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-scrollbar-track {
  background-color: transparent;
}

*::-ms-scrollbar-thumb {
  background: #0ec9c5;
}

*::-ms-scrollbar-thumb:hover {
  background: #045857;
}

*::-ms-scrollbar-thumb:active {
  background: #045857;
}

/* OPERA */
*::-o-scrollbar {
  width: 8px;
}

*::-o-scrollbar-track {
  background-color: brown;
}

*::-o-scrollbar-thumb {
  background: #0ec9c5;
}

*::-o-scrollbar-thumb:hover {
  background: #045857;
}

*::-o-scrollbar-thumb:active {
  background: #045857;
}

::-moz-selection {
  background: #045857;
  color: white;
}
::-webkit-selection {
  background: #045857;
  color: white;
}
::selection {
  background: #045857;
  color: white;
}
